{% extends "base.html" %}


{% block titulo %}Estamos en el index{% endblock %}



{% block contenido %}

<h1>Demo</h1>
<hr/>

<div class="row">
    <div class="col-md-8">

    <div id="line-example"></div>
    </div>
</div>
<hr />

<div class="row">
    <div class="col-md-8">
        <div id="cargar_datos">
        </div>
    </div>
</div>
<script type="text/javascript">
    jQuery(document).ready(function ($) {
            console.log('llegando');
    });


        Morris.Donut({
        element: 'line-example',
        data: {{datos|safe}},
        });

        </script> 
{% endblock %}
